  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  td {
    text-align: center;
  }
  
  .marquee {
    color: rgb(255, 0, 0);
      white-space: nowrap;
      overflow: hidden;
  }
  .marquee p {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 25s linear infinite;
  }
  @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
  }
  figcaption {
    color: rgb(0, 0, 0);
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
  .section {
    margin-bottom: 20px;
    padding: 2px;
    margin: 10px;
    border: 1px solid #085181;
    border-radius: 5px;
    overflow: hidden;
  }

  .section-header {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #38095f;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }

  .section-header:hover {
    background-color: #643083;
  }

  .section-header::after {
    content: '-';
    position: absolute;
    padding: 10px;
    margin: 10px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

  .button-container {
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
  }

  .button {
    width: 40%;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: #38095f;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    padding: 10px;
    margin: 10px;
    background-color: #643083;
  }

  .section-header.collapsed::after {
    content: '+';
    padding: 10px;
    margin: 10px;
    transform: translateY(-50%) rotate(90deg);
  }

  .section-content {
    padding: 10px;
    margin: 10px;
    display: none;
  }

  .section-content img {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    height: auto;
    margin-bottom: 10px;
  }

  .home-button {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #38095f;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }

  .home-button:hover {
    background-color: #643083;
  }

  .divider {
    border-top: 2px solid #360394;
    margin-top: 20px;
    margin-bottom: 20px;
  }